﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang quản trị</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link href="~/Assets/admin/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


    <!-- Theme style -->
    <link href="~/Assets/admin/libs/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/admin/css/AdminLTE.min.css">
    <link href="~/Assets/admin/css/custom.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/iCheck/all.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/ngprogress/ngProgress.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/Assets/admin/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="postoffice" ng-controller="rootController">
    <div ui-view></div>
    <!-- Site wrapper -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Assets/admin/libs/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Assets/admin/libs/bootstrap/dist/js/bootstrap.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/admin/libs/slimScroll/jquery.slimscroll.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/admin/libs/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/Assets/admin/js/app.min.js"></script>
    <!-- Begin embed angularJS -->
    <script src="~/Assets/admin/libs/angular/angular.js"></script>
    <script src="~/Assets/admin/js/angular-ui-router.js"></script>
    <script src="~/Assets/admin/libs/angular-cookies/angular-cookies.js"></script>
    <script src="~/Assets/admin/libs/ngprogress/build/ngprogress.js"></script>
    <script src="~/Assets/admin/libs/toastr/toastr.js"></script>
    <script src="~/Assets/admin/libs/bootbox/bootbox.js"></script>
    <script src="~/Assets/admin/libs/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/admin/libs/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/admin/libs/ngBootbox/ngBootbox.js"></script>
    <script src="~/Assets/admin/libs/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/Assets/admin/libs/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/Assets/admin/libs/angular-loading-bar/build/loading-bar.js"></script>
    <script src="~/Assets/admin/libs/checklist-model/checklist-model.js"></script>
    <script src="~/Assets/admin/libs/iCheck/icheck.js"></script>


    <script src="~/app/shared/modules/postoffice.common.js"></script>    

    <script src="~/app/shared/filters/statusFilter.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/directives/pagerDirective.js"></script>
    <script src="~/app/shared/directives/asDateDirective.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>

    <script src="~/app/shared/services/commonService.js"></script>

    <script src="~/app/components/service_groups/serviceGroups.module.js"></script>
    <script src="~/app/components/services/services.modulde.js"></script>

    <script src="~/Assets/admin/libs/dataTables/angular-datatables.min.js"></script>
    <script src="~/Assets/admin/libs/dataTables/jquery.dataTables.min.js"></script>

    <script src="~/app/app.js"></script>
    <script src="~/app/components/home/rootController.js"></script>
    <script src="~/app/components/home/homeController.js"></script>

    <

    <!-- Service -->
    <script src="~/app/components/services/serviceAddController.js"></script>
    <script src="~/app/components/services/serviceEditController.js"></script>
    <script src="~/app/components/services/serviceListController.js"></script>

    <!-- Service Group-->
    <script src="~/app/components/service_groups/serviceGroupsListController.js"></script>
    <script src="~/app/components/service_groups/serviceGroupAddController.js"></script>
    <script src="~/app/components/service_groups/serviceGroupEditController.js"></script>

</body>
</html>
